
<div class="oi-line-row">
  <div class="oi-row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <h6>Schedule</h6>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <h6 class="float-right">UTC +2  |  22/2/2020 10:15 AM</h6>
    </div>
</div>
<div class="oi-line-row oi-small-spacing">
  <div class="oi-box non-bottom-pad">
    <form>
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Frequently</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>On</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 date">
            <mat-checkbox>Monday</mat-checkbox>
            <mat-checkbox>Tuesday</mat-checkbox>
            <mat-checkbox>Wednesday</mat-checkbox>
            <mat-checkbox>Friday</mat-checkbox>
            <mat-checkbox>Saturday</mat-checkbox>
            <mat-checkbox>Sunday</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Start Time</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>End Time</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>