<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <h3 mat-dialog-title>
                    {{ data }}
                </h3>
                <div mat-dialog-actions>
                    <button
                        mat-button
                        [mat-dialog-close]="true"
                        (click)="confirmSelection()"
                    >
                        Yes
                    </button>
                    <button mat-button (click)="onNoClick()" tabindex="-1">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
