// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
body {
  color: palette(blackColor, base);
}
.#{$g-nmsp}-navbar {
  background: #fff;
}