.#{$g-nmsp}-status-circle {
  display: inline-block;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  &.#{$g-nmsp}-success {
    background: palette(successColor, base);
  }

  &.#{$g-nmsp}-danger {
    background: palette(dangerColor, base);
  }

  &.#{$g-nmsp}-warning {
    background: palette(warningColor, base);
  }

  &.#{$g-nmsp}-done {
    background: palette(doneColor, base);
  }

  &.#{$g-nmsp}-icon {
    width: 26px;
    height: 26px;

    i svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 5px;

    }

    &.#{$g-nmsp}-success {
      
      i svg * {
        fill: palette(successColor, textColor);
      }
    }
  }
}

.#{$g-nmsp}-badge {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 2px;
  height: 22px;
  min-width: 22px;
  font-size: 12px;

  &.#{$g-nmsp}-success {
    background: palette(successColor, base);
    color: palette(successColor, textColor);
  }

  &.#{$g-nmsp}-danger {
    background: palette(dangerColor, base);
    color: palette(dangerColor, textColor);
  }

  &.#{$g-nmsp}-warning {
    background: palette(warningColor, base);
    color: palette(warningColor, textColor);
  }

  &.#{$g-nmsp}-done {
    background: palette(doneColor, base);
    color: palette(doneColor, textColor);
  }
}

.#{$g-nmsp}-pill {
  display: inline-block;
  overflow: hidden;
  padding: 3px 5px;
  white-space: nowrap;
  font-size: 12px;

  &.#{$g-nmsp}-success {
    background: palette(successColor, base);
    color: palette(successColor, textColor);
  }

  &.#{$g-nmsp}-danger {
    background: palette(dangerColor, base);
    color: palette(dangerColor, textColor);
  }

  &.#{$g-nmsp}-warning {
    background: palette(warningColor, base);
    color: palette(warningColor, textColor);
  }

  &.#{$g-nmsp}-done {
    background: palette(doneColor, base);
    color: palette(doneColor, textColor);
  }
}

.#{$g-nmsp}-status-label {
  display: inline-block;
  overflow: hidden;
  font-size: 14px;

  &.#{$g-nmsp}-success {
    color: palette(successColor, base);
  }

  &.#{$g-nmsp}-danger {
    color: palette(dangerColor, base);
  }

  &.#{$g-nmsp}-warning {
    color: palette(warningColor, base);
  }

  &.#{$g-nmsp}-done {
    color: palette(doneColor, base);
  }
}