.#{$g-nmsp}-btn {
  display: inline-block;
  overflow: hidden;
  border: 0;
  background: transparent;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  color: palette(blackColor, base);
  outline: none;
  line-height: 1.4;

  &:disabled {
    opacity: .5;
  }

  &.#{$g-nmsp}-btn-primary {
    background: palette(defaultColor, base);
    color: palette(defaultColor, textColor);
  }

  &.#{$g-nmsp}-btn-danger {
    background: palette(dangerColor, base);
    color: palette(dangerColor, textColor);
  }


  &.#{$g-nmsp}-btn-primary-outline {
    background: #fff;
    border: 1px solid palette(defaultColor, base);
    color: palette(defaultColor, base);
    font-size: 12px;
  }

  + .#{$g-nmsp}-btn {
    margin-right: 8px;
  }

  &.#{$g-nmsp}-btn-small {
    padding: 4px 8px;
  }
}




.#{$g-nmsp}-btn-group {
  display: block;
  overflow: hidden;

  &.#{$g-nmsp}-align-right {
    .#{$g-nmsp}-btn {
      float: $right;
    }
  }

  .#{$g-nmsp}-btn {

    + .#{$g-nmsp}-btn {
      margin: 0;
    }

    &.#{$g-nmsp}-btn-primary-outline {
      border-right: 0;

      &:first-child {
        border-right: 1px solid palette(defaultColor, base);
      }
    }

    &.#{$g-nmsp}-btn-primary {
      margin-right: 1px;

      &:first-child {
        margin-right: 0;
      }

    }
  }
}