.#{$g-nmsp}-check-container {
  display: block;
  width: 100%;
  @extend .oi-animation;

  &.#{$g-nmsp}-radio-inline {
    width: auto;
    margin-right: 16px;
  }

  input {
    display: none;

    &:checked {
      + label {

        span:first-child {
          border-color: palette(successColor, base);

          &:after {
            background: palette(successColor, base);
          }
        }
      }
    }

    + label {
      display: inline-block;
      overflow: hidden;
      float: $left;

      span:first-child {
        display: inline-block;
        float: $left;
        margin: 0 8px 0 0;
        border: 2px solid palette(grayColor, light);
        width: 20px;
        height: 20px;
        position: relative;
        background: #fff;
        @extend .oi-animation;

        &:after {
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          width: 12px;
          height: 12px;
          background: transparent;
          @extend .oi-animation;
        }
      }

      span:last-child {
        display: inline-block;
        overflow: hidden;
        line-height: 20px;
        white-space: nowrap;
        float: $left;

      }
    }
  }
}