.#{$g-nmsp}-filter {

  .#{$g-nmsp}-filter-label {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: palette(blackColor, base);
    margin-bottom: 8px;
  }

  .#{$g-nmsp}-filter-value {
    display: block;
    overflow: hidden;
    border: 1px solid palette(grayColor, light);
    background: palette(grayColor, extraLight);
    padding: 8px;

    span {
      display: block;
      overflow: hidden;
      line-height: 24px;
      font-size: 14px;
      color: palette(blackColor, base);
    }
  }

  .#{$g-nmsp}-filter-actions {
    padding-left: 0;

    button {
      display: inline-block;
      float: $left;
      width: 42px;
      height: 42px;
      background: transparent;
      border: none;
      padding: 11px;
      margin: 22px 0 0 0;

      & + button {
        margin-left: 8px;
      }

      &:hover {

        &.#{$g-nmsp}-regular {
          svg {

            * {
              fill: palette(doneColor, base);
            }
          }
        }

        &.#{$g-nmsp}-delete {
          svg {

            * {
              fill: palette(dangerColor, base);
            }
          }

        }
        
      }

      svg {

        * {
          fill: palette(blackColor, light);
          @extend .oi-animation;
        }
      }
    }
  }
}

.#{$g-nmsp}-filter-query {
  .#{$g-nmsp}-controls {

    .#{$g-nmsp}-actions {
      button {
        display: inline-block;
        overflow: hidden;
        float: $right;
        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        padding: 0;
        margin-left: 16px;

        svg {
          pointer-events: none;
          * {
            fill: palette(defaultColor, base);
            @extend .#{$g-nmsp}-animation;
          }
        }

        &:hover:not(.delete) {
          svg {
            * {
              fill: palette(doneColor, base);
            }
          }
        }
        &.delete:hover {
          svg {
            * {
              fill: palette(dangerColor, base);
            }
          }
        }
      }
    }
  }
  .#{$g-nmsp}-field {
    .#{$g-nmsp}-actions {
      button {
        display: inline-block;
        overflow: hidden;
        float: $right;
        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        padding: 0;
        margin-left: 8px;

        svg {
          pointer-events: none;
          * {
            fill: palette(defaultColor, base);
            @extend .#{$g-nmsp}-animation;
          }
        }

        &:hover:not(.delete) {
          svg {
            * {
              fill: palette(doneColor, base);
            }
          }
        }
        &.delete:hover {
          svg {
            * {
              fill: palette(dangerColor, base);
            }
          }
        }
      }
    }
  }
}

.#{$g-nmsp}-accordion-container {
  display: block;
  overflow: hidden;
  border-left: 1px solid palette(grayColor, light);
  border-right: 1px solid palette(grayColor, light);
  border-bottom: 1px solid palette(grayColor, light);

  &.#{$g-nmsp}-default-color .#{$g-nmsp}-accordion-panel {
    .#{$g-nmsp}-accordion-header {
      background: palette(defaultColor, base);
      
      .#{$g-nmsp}-name {
        color: palette(defaultColor, textColor);
      }

      .#{$g-nmsp}-arrow {
        svg * {
          fill: palette(defaultColor, textColor);
        }
      }
    }
  }

  .#{$g-nmsp}-accordion-panel {
    display: block;
    overflow: hidden;
    background: palette(grayColor, extraLight);

    > input {
      display: none;

      &:checked {
        + .#{$g-nmsp}-accordion-header .#{$g-nmsp}-arrow {
          transform: rotate(180deg);
        }

        + .#{$g-nmsp}-accordion-header + .#{$g-nmsp}-accordion-body {
          max-height: 2000px;

          &.#{$g-nmsp}-max-height {
            max-height: 200px !important;
          }
        }
      }
    }

    .#{$g-nmsp}-accordion-header {
      display: block;
      overflow: hidden;
      padding: 8px;
      border-top: 1px solid palette(grayColor, light);
      border-bottom: 1px solid palette(grayColor, light);

      * {
        pointer-events: none;
      }

      .#{$g-nmsp}-name {
        display: inline-block;
        overflow: hidden;
        float: $left;
        font-size: 14px;
        color: palette(blackColor, base);
        line-height: 24px;
      }

      .#{$g-nmsp}-arrow {
        display: inline-block;
        overflow: hidden;
        float: $right;
        width: 20px;
        height: 20px;
          @extend .#{$g-nmsp}-animation;

        svg {
          @extend .#{$g-nmsp}-animation;

          * {
            fill: palette(blackColor, base);
          }
        }
      }
    }

    .#{$g-nmsp}-accordion-body {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 0;
      @extend .#{$g-nmsp}-animation;

      .#{$g-nmsp}-btns-list {
        display: block;
        margin: 0;
        padding: 0;

        li {
          display: block;
          margin: 0;
          padding: 0;

          button {
            display: block;
            overflow: hidden;
            padding: 0 8px;
            width: 100%;
            line-height: 30px;
            font-size: 14px;
            border: 0;
            background: transparent;
            text-align: $left;
            @extend .#{$g-nmsp}-animation;

            &:hover {
              background: palette(defaultColor, base);
              color: palette(defaultColor, textColor);
            }

          }
        }
      }

    }
  }
}

.#{$g-nmsp}-code-main-container {
  display: block;
  overflow: hidden;
  position: relative;
  border: 1px solid palette(grayColor, light);
  height: 411px;

  .#{$g-nmsp}-line-number {
    display: block;
    overflow: hidden;
    width: 36px;
    background: palette(grayColor, extraLight);
    border-right: 1px solid palette(grayColor, light);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .#{$g-nmsp}-code-container {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 411px;

    .#{$g-nmsp}-number {
      display: inline-block;
      overflow: hidden;
      width: 36px;
      padding: 0 8px;
      font-size: 14px;
      line-height: 26px;
      text-align: $right;
      float: $left;
    }

    .#{$g-nmsp}-code {
      display: inline-block;
      overflow: hidden;
      width: calc(100% - 36px);
      padding: 0 8px;
      font-size: 14px;
      line-height: 26px;
      text-align: $left;
      padding: 0 8px;
      float: $left;
    }
  }
}

.#{$g-nmsp}-search-list {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background: palette(grayColor, extraLight);
  border: 1px solid palette(grayColor, light);
  height: 411px;

  .#{$g-nmsp}-search {
    display: block;
    overflow: hidden;
    padding: 8px;
    border-bottom: 1px solid palette(grayColor, light);
  }

  li:not(.#{$g-nmsp}-search) {
    display: block;
    margin: 0;
    padding: 0;

    button {
      display: block;
      overflow: hidden;
      padding: 0 8px;
      width: 100%;
      line-height: 30px;
      font-size: 14px;
      border: 0;
      background: transparent;
      text-align: $left;
      @extend .#{$g-nmsp}-animation;

      &:hover {
        background: palette(defaultColor, base);
        color: palette(defaultColor, textColor);
      }

    }
  }
}

.#{$g-nmsp}-execution-result {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background: palette(grayColor, extraLight);
  border: 1px solid palette(grayColor, light);
  height: 48px;
  line-height: 24px;
}