.#{$g-nmsp}-ddl {

  &.#{$g-nmsp}-single-selection {

    .selected-item {
      background: transparent !important;
      border: none !important;
      color: palette(blackColor, base) !important;

      a {
        display: none !important;
      }
    }

  }

  .multiselect-dropdown {
    .dropdown-btn {
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 1px solid palette(grayColor, light) !important;
      padding: 0 5px 2px !important;
      margin: 9px 0 0;
      font-size: 14px;
      font-weight: 400 !important;
      border-radius: 0 !important;
      
      > span:first-child:not(.selected-item) {
        color: palette(blackColor, light);
      }

      > span:last-child {
        padding: 0 !important;
      }

      .dropdown-down {
        top: 6px !important;
        border-top: 6px solid palette(grayColor, light) !important;
        border-left: 6px solid transparent !important;
        border-right: 6px solid transparent !important;
      }

      .dropdown-up {
        border-bottom: 6px solid palette(grayColor, light) !important;
        border-left: 6px solid transparent !important;
        border-right: 6px solid transparent !important;
      }
    }
  }




  &:focus,
  &:valid, {

    + label {
      top: 0;
      font-size: 10px;
    }
  }

  + label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 14px;
    padding: 0 5px;
    color: palette(blackColor, light);
    @extend .#{$g-nmsp}-animation;
  }
}