.#{$g-nmsp}-input-button {
  display: flex;
  overflow: hidden;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid palette(grayColor, light);

  .#{$g-nmsp}-input {
    border-bottom: 0;
  }

  &.#{$g-nmsp}-top-search {
    width: 300px;
    max-width: 100%;
  }

  button {
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    outline: none;
    margin: 3px 0 0;
  }
}

.#{$g-nmsp}-input {
  width: 100%;
  position: relative;
  padding: 4px 0 0;
  border-bottom: 1px solid palette(grayColor, light);
  @extend .oi-animation;


  input {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    z-index: 1;
    line-height: 18px;
    padding: 0 5px 2px;
    outline: none;
    margin: 9px 0 0;
    color: palette(blackColor, base);
    font-size: 14px;
    position: relative;
    z-index: 1;

    // &:focus,
    // &:valid, 
    // &:invalid, {

    //   + label {
    //     top: 0;
    //     font-size: 10px;
    //   }
    // }

    // + label {
    //   position: absolute;
    //   top: 10px;
    //   left: 0;
    //   font-size: 14px;
    //   padding: 0 5px;
    //   color: palette(blackColor, light);
    //   @extend .oi-animation;
    // }



    &:not(:placeholder-shown),
    &:focus {

      + label {
        top: 0;
        font-size: 10px;
      }
    }

    + label {
      position: absolute;
      left: 0;
      padding: 0 5px;
      top: 10px;
      font-size: 14px;
      color: palette(blackColor, light);
      @extend .oi-animation;
    }
  }


  textarea {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    z-index: 1;
    line-height: 18px;
    height: 42px;
    padding: 0 5px 2px;
    outline: none;
    margin: 9px 0 0;
    color: palette(blackColor, base);
    font-size: 14px;
    position: relative;
    z-index: 1;
    resize: none;

    &:focus,
    &:valid, {

      + label {
        top: 0;
        font-size: 10px;
      }
    }

    + label {
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 14px;
      padding: 0 5px;
      color: palette(blackColor, light);
      @extend .oi-animation;
    }
  }
}