.#{$g-nmsp}-modal {
  // display: none;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  opacity: 0;
  visibility: hidden;
  @extend .#{$g-nmsp}-animation;

  &.#{$g-nmsp}-modal-larg {
    .#{$g-nmsp}-modal-content {
      width: 1200px !important;
    }
  }

  &.#{$g-nmsp}-open {
    // display: block;
    opacity: 1;
    visibility: visible;


    .#{$g-nmsp}-modal-container .#{$g-nmsp}-modal-position .#{$g-nmsp}-modal-content {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
    }
  }

  .#{$g-nmsp}-modal-container {
    display: table;
    width: 100%;
    height: 100%;

    .#{$g-nmsp}-modal-position {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .#{$g-nmsp}-modal-content {
        display: inline-block;
        overflow: hidden;
        background: #fff;
        border: 1px solid palette(grayColor, light);
        box-shadow: 0 0 7px 1px rgba(0,0,0,.5);
        max-width: 90%;
        min-width: 300px;
        text-align: $left;
        transform: translateY(-200px);
        -webkit-transform: translateY(-200px);
        @extend .#{$g-nmsp}-animation;

        @media (min-width: map-get($breakpoints, 'medium')) {
          min-width: 400px;
        }

        .#{$g-nmsp}-modal-header {
          display: block;
          overflow: hidden;
          padding: 16px;
          border-bottom: 1px solid palette(grayColor, light);
        }

        .#{$g-nmsp}-modal-body {
          display: block;
          overflow: hidden;
          padding: 16px;
        }

        .#{$g-nmsp}-modal-footer {
          display: block;
          overflow: hidden;
          padding: 16px;
          border-top: 1px solid palette(grayColor, light);
        }

        .#{$g-nmsp}-line-row {
          margin-top: 16px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

