.#{$g-nmsp}-switch {
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;

  input {
    display: none;

    &:checked + .#{$g-nmsp}-switch-container {
      .#{$g-nmsp}-switchr-parts {
        margin-left: 0;

        i {
          left: calc(100% - 27px);
        }
      }
      &.#{$g-nmsp}-small {
        .#{$g-nmsp}-switchr-parts {

          i {
            left: calc(100% - 17px);
          }
        } 
      }
      &.#{$g-nmsp}-medium {
        .#{$g-nmsp}-switchr-parts {

          i {
            left: calc(100% - 23px);
          }
        } 
      }
    }
  }

  .#{$g-nmsp}-switch-container {
    display: inline-block;
    overflow: hidden;
    width: 90px;
    height: 30px;
    border: 1px solid palette(grayColor, light);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 0;
    text-align: center;

    .#{$g-nmsp}-switchr-parts {
      display: block;
      overflow: hidden;
      width: 200%;
      height: 30px;
      margin: 0 0 0 -100%;
      @extend .oi-animation;

      > span {
        display: inline-block;
        overflow: hidden;
        float: $left;
        width: 50%;
        height: 28px;
        line-height: 28px;
        color: #ffffff;
        font-size: 10px;

        &.#{$g-nmsp}-on {
          padding: 0 20px 0 0;
          background: palette(successColor, base); 
        }

        &.#{$g-nmsp}-off {
          padding: 0 0 0 20px;
          background: palette(dangerColor, base);
        }
      }

      i {
        display: inline-block;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        top: 1px;
        left: 1px;
        width: 26px;
        height: 26px;
        background: #fff;
        border-radius: 50%;
        @extend .oi-animation;
      }
    }

    &.#{$g-nmsp}-on-off-style {
      .#{$g-nmsp}-switchr-parts {

        > span {

          &.#{$g-nmsp}-off {
            background: palette(grayColor, light);
          }
        }
      }
    }

    &.#{$g-nmsp}-text {
      float: $left;

      &.#{$g-nmsp}-small {
        margin: 2px 8px 0 0;
      }

      & + label {
        display: inline-block;
        overflow: hidden;
        font-size: 14px;
        line-height: 24px;
      }

    }

    &.#{$g-nmsp}-small {
      width: 40px;
      height: 20px;
      border-radius: 15px;


      .#{$g-nmsp}-switchr-parts {
        height: 20px;
        margin: 0 0 0 -100%;
        @extend .oi-animation;

        > span {
          height: 18px;
          line-height: 18px;
          font-size: 10px;
        }

        i {
          top: 1px;
          left: 1px;
          width: 16px;
          height: 16px;
        }
      }
    }

    &.#{$g-nmsp}-medium {
      width: 60px;
      height: 26px;
      border-radius: 15px;

      .#{$g-nmsp}-switchr-parts {
        height: 40px;
        margin: 0 0 0 -100%;
        @extend .oi-animation;

        > span {
          height: 24px;
          line-height: 24px;
          font-size: 10px;
        }

        i {
          top: 1px;
          left: 1px;
          width: 22px;
          height: 22px;
        }
      }
    }

    &.#{$g-nmsp}-disabled {
      pointer-events: none;

      * {
        pointer-events: none;
      }

      .#{$g-nmsp}-switchr-parts {

        > span {

          &.#{$g-nmsp}-on {
            background: palette(grayColor, light) !important;
          }

          &.#{$g-nmsp}-off {
            background: palette(grayColor, light) !important;
          }
        }
      }

    }
  }
}