.#{$g-nmsp}-table-container {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;

  > table {
    border-collapse: collapse;
  }

  .#{$g-nmsp}-table {
    width: 100%;
    color: palette(blackColor, base);
    background: #fff;
    font-size: 14px;
    text-align: $left;

    tr {
      @extend .oi-animation;
    }

    th {
      background: palette(defaultColor, base);
      color: palette(defaultColor, textColor);

      * {
        color: palette(defaultColor, textColor);
      }

      .#{$g-nmsp}-sortable-th {
        display: inline-block;
        line-height: 20px;
        min-width: max-content;

        span {
          white-space: nowrap;
        }

        .#{$g-nmsp}-sort-container {
          display: inline-block;
          float: $right;
          width: 10px;
          margin: 0 0 0 8px;

          button {
            display: block;
            overflow: hidden;
            outline: none;
            border: none;
            background: transparent;
            width: 10px;
            height: 10px;
            padding: 0;
            opacity: .5;
            @extend .oi-animation;

            @include on-event {
              opacity: 1;
            }

            &.active {
              opacity: 1;
            }

            i  {
              display: block;
              width: 10px;
              height: 10px;

              svg * {
                fill: palette(defaultColor, textColor);
              }
            }
          }
        }
      }
    }

    th,
    td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid palette(grayColor, light);
      vertical-align: middle;

      &[rowspan] {
        border-right: 1px solid palette(grayColor, light);
      }

      .#{$g-nmsp}-actions-container {
        display: flex;
        overflow: hidden;
        float: $right;
        flex-align: $right;

        button {
          margin: 0 8px;
          width: 20px;
          height: 20px;
          border: none;
          background: transparent;
          padding: 0;
          cursor: pointer;
          outline: none;

          i {
            pointer-events: none;
            svg * {
              fill: palette(blackColor, light);
              @extend .oi-animation;
            }
          }

          &:hover {
            i {
              svg * {
                fill: palette(doneColor, base);
              }
            }
          }
          &.oi-delete:hover {
            i {
              svg * {
                fill: palette(dangerColor, base);
              }
            }
          }
        }

        &.#{$g-nmsp}-center-actions {
          display: inline-block;
          float: none;

          button {
            margin: 0 8px;
            width: 20px;
            height: 20px;
            border: none;
            background: transparent;
            padding: 0;
            cursor: pointer;
            outline: none;

            i {
              pointer-events: none;
              svg * {
                fill: palette(dangerColor, base);
                @extend .oi-animation;
              }
            }
          }

        }
      }
    }
  }

  .#{$g-nmsp}-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid palette(grayColor, light);
  }

  .#{$g-nmsp}-table tbody + tbody {
    border-top: 2px solid palette(grayColor, light);
  }

  .#{$g-nmsp}-table-head-sm th {
    padding: 0.5rem;
  }

  .#{$g-nmsp}-table-sm td {
    padding: 0.5rem;
  }

  .#{$g-nmsp}-table-bordered {
    border: 1px solid palette(grayColor, light);
  }

  .#{$g-nmsp}-table-shadow {
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
  }

  .#{$g-nmsp}-table-bordered th,
  .#{$g-nmsp}-table-bordered td {
    border-bottom: 1px solid palette(grayColor, light);
    border-top: 1px solid palette(grayColor, light);
  }

  .#{$g-nmsp}-table-bordered thead th,
  .#{$g-nmsp}-table-bordered thead td {
    border-bottom-width: 2px;
  }

//   .table-borderless th,
//   .table-borderless td,
//   .table-borderless thead th,
//   .table-borderless tbody + tbody {
//     border: 0;
//   }

//   .table-striped > tbody > tr:nth-of-type(odd) {
//     background-color: rgba(0, 0, 0, 0.05);
//   }

  .#{$g-nmsp}-table-hover > tbody > tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.04);
  }

//   .table-primary,
//   .table-primary > th,
//   .table-primary > td {
//     background-color: #b8daff;
//   }

//   .table-primary th,
//   .table-primary td,
//   .table-primary thead th,
//   .table-primary tbody + tbody {
//     border-color: #7abaff;
//   }

//   .table-hover .table-primary:hover {
//     background-color: #9fcdff;
//   }

  // .table-hover tbody tr:hover > td {
  //   background-color: palette(grayColor, light);
  // }

//   .table-secondary,
//   .table-secondary > th,
//   .table-secondary > td {
//     background-color: #d6d8db;
//   }

//   .table-secondary th,
//   .table-secondary td,
//   .table-secondary thead th,
//   .table-secondary tbody + tbody {
//     border-color: #b3b7bb;
//   }

//   .table-hover .table-secondary:hover {
//     background-color: #c8cbcf;
//   }

//   .table-hover .table-secondary:hover > td,
//   .table-hover .table-secondary:hover > th {
//     background-color: #c8cbcf;
//   }

//   .table-success,
//   .table-success > th,
//   .table-success > td {
//     background-color: #c3e6cb;
//   }

//   .table-success th,
//   .table-success td,
//   .table-success thead th,
//   .table-success tbody + tbody {
//     border-color: #8fd19e;
//   }

//   .table-hover .table-success:hover {
//     background-color: #b1dfbb;
//   }

//   .table-hover .table-success:hover > td,
//   .table-hover .table-success:hover > th {
//     background-color: #b1dfbb;
//   }

//   .table-info,
//   .table-info > th,
//   .table-info > td {
//     background-color: #bee5eb;
//   }

//   .table-info th,
//   .table-info td,
//   .table-info thead th,
//   .table-info tbody + tbody {
//     border-color: #86cfda;
//   }

//   .table-hover .table-info:hover {
//     background-color: #abdde5;
//   }

//   .table-hover .table-info:hover > td,
//   .table-hover .table-info:hover > th {
//     background-color: #abdde5;
//   }

//   .table-warning,
//   .table-warning > th,
//   .table-warning > td {
//     background-color: #ffeeba;
//   }

//   .table-warning th,
//   .table-warning td,
//   .table-warning thead th,
//   .table-warning tbody + tbody {
//     border-color: #ffdf7e;
//   }

//   .table-hover .table-warning:hover {
//     background-color: #ffe8a1;
//   }

//   .table-hover .table-warning:hover > td,
//   .table-hover .table-warning:hover > th {
//     background-color: #ffe8a1;
//   }

//   .table-danger,
//   .table-danger > th,
//   .table-danger > td {
//     background-color: #f5c6cb;
//   }

//   .table-danger th,
//   .table-danger td,
//   .table-danger thead th,
//   .table-danger tbody + tbody {
//     border-color: #ed969e;
//   }

//   .table-hover .table-danger:hover {
//     background-color: #f1b0b7;
//   }

//   .table-hover .table-danger:hover > td,
//   .table-hover .table-danger:hover > th {
//     background-color: #f1b0b7;
//   }

//   .table-light,
//   .table-light > th,
//   .table-light > td {
//     background-color: #fdfdfe;
//   }

//   .table-light th,
//   .table-light td,
//   .table-light thead th,
//   .table-light tbody + tbody {
//     border-color: #fbfcfc;
//   }

//   .table-hover .table-light:hover {
//     background-color: #ececf6;
//   }

//   .table-hover .table-light:hover > td,
//   .table-hover .table-light:hover > th {
//     background-color: #ececf6;
//   }

//   .table-dark,
//   .table-dark > th,
//   .table-dark > td {
//     background-color: #c6c8ca;
//   }

//   .table-dark th,
//   .table-dark td,
//   .table-dark thead th,
//   .table-dark tbody + tbody {
//     border-color: #95999c;
//   }

//   .table-hover .table-dark:hover {
//     background-color: #b9bbbe;
//   }

//   .table-hover .table-dark:hover > td,
//   .table-hover .table-dark:hover > th {
//     background-color: #b9bbbe;
//   }

//   .table-active,
//   .table-active > th,
//   .table-active > td {
//     background-color: rgba(0, 0, 0, 0.075);
//   }

//   .table-hover .table-active:hover {
//     background-color: rgba(0, 0, 0, 0.075);
//   }

//   .table-hover .table-active:hover > td,
//   .table-hover .table-active:hover > th {
//     background-color: rgba(0, 0, 0, 0.075);
//   }

//   .table .thead-dark th {
//     color: #fff;
//     background-color: #343a40;
//     border-color: #454d55;
//   }

//   .table .thead-light th {
//     color: #495057;
//     background-color: #e9ecef;
//     border-color: #dee2e6;
//   }

//   .table-dark {
//     color: #fff;
//     background-color: #343a40;
//   }

//   .table-dark th,
//   .table-dark td,
//   .table-dark thead th {
//     border-color: #454d55;
//   }

//   .table-dark.table-bordered {
//     border: 0;
//   }

//   .table-dark.table-striped tbody tr:nth-of-type(odd) {
//     background-color: rgba(255, 255, 255, 0.05);
//   }

//   .table-dark.table-hover tbody tr:hover {
//     color: #fff;
//     background-color: rgba(255, 255, 255, 0.075);
//   }

//   @media (max-width: 575.98px) {
//     .table-responsive-sm {
//       display: block;
//       width: 100%;
//       overflow-x: auto;
//       -webkit-overflow-scrolling: touch;
//     }
//     .table-responsive-sm > .table-bordered {
//       border: 0;
//     }
//   }

//   @media (max-width: 767.98px) {
//     .table-responsive-md {
//       display: block;
//       width: 100%;
//       overflow-x: auto;
//       -webkit-overflow-scrolling: touch;
//     }
//     .table-responsive-md > .table-bordered {
//       border: 0;
//     }
//   }

//   @media (max-width: 991.98px) {
//     .table-responsive-lg {
//       display: block;
//       width: 100%;
//       overflow-x: auto;
//       -webkit-overflow-scrolling: touch;
//     }
//     .table-responsive-lg > .table-bordered {
//       border: 0;
//     }
//   }

//   @media (max-width: 1199.98px) {
//     .table-responsive-xl {
//       display: block;
//       width: 100%;
//       overflow-x: auto;
//       -webkit-overflow-scrolling: touch;
//     }
//     .table-responsive-xl > .table-bordered {
//       border: 0;
//     }
//   }

//   .table-responsive {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }

//   .table-responsive > .table-bordered {
//     border: 0;
//   }

//   .d-table {
//     display: table !important;
//   }

//   .d-table-row {
//     display: table-row !important;
//   }

//   .d-table-cell {
//     display: table-cell !important;
//   }
}




// @media (min-width: 576px) {
//   .d-sm-table {
//     display: table !important;
//   }
//   .d-sm-table-row {
//     display: table-row !important;
//   }
//   .d-sm-table-cell {
//     display: table-cell !important;
//   }
// }


// @media (min-width: 768px) {
//   .d-md-table {
//     display: table !important;
//   }
//   .d-md-table-row {
//     display: table-row !important;
//   }
//   .d-md-table-cell {
//     display: table-cell !important;
//   }
// }

// @media (min-width: 992px) {
//   .d-lg-table {
//     display: table !important;
//   }
//   .d-lg-table-row {
//     display: table-row !important;
//   }
//   .d-lg-table-cell {
//     display: table-cell !important;
//   }
// }

// @media (min-width: 1200px) {
//   .d-xl-table {
//     display: table !important;
//   }
//   .d-xl-table-row {
//     display: table-row !important;
//   }
//   .d-xl-table-cell {
//     display: table-cell !important;
//   }
// }

// @media print {
//   .d-print-table {
//     display: table !important;
//   }
//   .d-print-table-row {
//     display: table-row !important;
//   }
//   .d-print-table-cell {
//     display: table-cell !important;
//   }
// }