<div class="oi-row">
  <div class="col-12 col-sm-6">
    <h1>
      <span>Template Creation</span>
    </h1>
  </div>
</div>
<br>

<div class="oi-line-row oi-small-spacing">
  <h6>General Settings</h6>
</div>
<div class="oi-line-row oi-small-spacing">
  <div class="oi-box non-bottom-pad">
    <form  (ngSubmit)="createAdditionalTables()" [formGroup]="generalInfoForm" #form1="ngForm">
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Name Of Template</mat-label>
              <input matInput formControlName='templateName'>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Number of key values in source side</mat-label>
              <input matInput type="number" min="1" formControlName='sourceNumber'>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Number of key values in destination side</mat-label>
              <input matInput type="number" min="1" formControlName='destinationNumber'>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-slide-toggle formControlName='toggle' (change)="onAdditionalToggleChange()" checked>
              Add additional tables
            </mat-slide-toggle>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Number of additional tables</mat-label>
              <input matInput type="number" min="1" formControlName='additionalNumber' (change)="createAdditionalInfoItems($event)">
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <button class="oi-btn oi-btn-primary" type="submit" [disabled]="!form1.valid">Next</button>
          </div>
        </div>
      </div>

      <div class="oi-line-row first" formArrayName="additionalTables">
        <div class="oi-line-row first" *ngFor="let table of generalInfoForm.get('additionalTables')['controls']; let i = index;">
          <div class="oi-row" [formGroupName]="i">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
              <mat-form-field appearance="fill">
                <mat-label>Name of table {{i+1}}</mat-label>
                <input class="form-control" matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
              <mat-form-field appearance="fill">
                <mat-label>Number of Properties in table {{i+1}}</mat-label>
                <input class="form-control" min="1" matInput type="number" formControlName="number">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<form (ngSubmit)="finish()" [formGroup]="tablesGroup" #form2="ngForm">
  <div formArrayName="tempTables">
    <div *ngFor="let table of tablesGroup.get('tempTables').value; let i = index;">
      <div class="oi-line-row">
        <h6>{{table.tableName}}</h6>
      </div>
      <div class="oi-line-row oi-small-spacing">
        <form class="oi-table-container">
          <table class="oi-table mat-elevation-z8 table-container">
            <thead>
              <tr>
                <th>
                  <div>
                    <span></span>
                  </div>
                </th>
                <th class="oi-center">
                  <div class="oi-sortable-th">
                    <span>Name</span>
                  </div>
                </th>
                <th class="oi-center">
                  <div class="oi-sortable-th">
                    <span>Type</span>
                  </div>
                </th>
                <th class="oi-center">
                  <div class="oi-sortable-th">
                    <span>Default Value</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of getArray(table.propertiesNumber); let j = index;">
                <td> Property {{j+1}}</td>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput (change)="fieldNameUpdate(i,j,$event)">
                  </mat-form-field>
                </td>
                <td> 
                  <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select matNativeControl (selectionChange)="sourceTypeUpdate(i,j,$event)" [value]="dataTypes[0]">
                      <!-- <mat-option disabled selected>Select</mat-option> -->
                      <mat-option *ngFor="let values of dataTypes;" [value]="values">{{values}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Default Value</mat-label>
                    <input matInput (change)="defaultValueUpdate(i,j,$event)"> 
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>

  <div class="oi-line-row">
    <button mat-raised-button color="accent" class="float-right" [disabled]="! (form1.valid && tablesGroup.valid)" type="submit">Create Template</button>
  </div>
</form>
