<div class="oi-main-menu" [class.open]="serMainMenu.showMenu">
  <ul class="oi-main-nav">
    <li>
      <a
        routerLink="/template-creation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>Template Creation</span>
      </a>
    </li>
    <li>
      <a routerLink="/new-job" routerLinkActive="active">
        <span>Job Setup</span>
      </a>
    </li>
    <!-- <li>
      <a routerLink="/edit-job" routerLinkActive="active">
        <span>Edit Job</span>
      </a>
    </li> -->
    <li>
      <a routerLink="/history" routerLinkActive="active">
        <span>Job Management</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin" routerLinkActive="active">
        <span>Admin</span>
      </a>
    </li>
  </ul>

  <!-- Showing Version Number -->
  <div class="version">Version {{ versionNumber }}</div>
</div>
