// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$g-nmsp: oi;




/// Regular font family
/// @type List
$text-font-stack: 'roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



//color

// Colors
$colors: (
  defaultColor: (
    extraLight: lighten(#000000, 30%),
    light: lighten(#000000, 20%),
    base: #000000,
    dark: darken(#000000, 5%),
    textColor: #fff,
  ),
  dangerColor: (
    base: #FF0000,
    textColor: #fff,
  ),
  warningColor: (
    base: #FFA907,
    textColor: #fff,
  ),
  successColor: (
    base: #039A1C,
    textColor: #fff,
  ),
  doneColor: (
    base: #1BA5FC,
    textColor: #fff,
  ),
  grayColor: (
    extraLight: #F5F5F5,
    light: #d6d6d6
  ),
  blackColor: (
    light: #A2A2A2,
    base: #343434
  )
);

// /// Copy text color
// /// @type Color
// $text-color: rgb(34, 34, 34) !default;

// /// Main brand color
// /// @type Color
// $brand-color: rgb(229, 0, 80) !default;

// /// Light grey
// /// @type Color
// $light-grey: rgb(237, 237, 237) !default;

// /// Medium grey
// /// @type Color
// $mid-grey: rgb(153, 153, 153) !default;

// /// Dark grey
// /// @type Color
// $dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
$menu-width: 270px !default;

//Directions
$left: left;
$right: right;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'x-small': 576px,
  'small': 786px,
  'medium': 992px,
  'large': 1200px,
  'x-large': 1500px,
) !default;

$breakpointsMin: (
  'x-small': 575px,
  'small': 785px,
  'medium': 991px,
  'large': 1199px,
  'x-large': 1499px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
