
<div class="login-container">
  <div class="login-content-container">
    <img src="/pepperui/assets/images/default-logo.png">
    <form [formGroup]="loginForm">
      <div class="oi-line-row first">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName='username'>
          <mat-error *ngIf="username.invalid">{{getErrorMessage('username')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="oi-line-row first">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName='password'>
          <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="oi-line-row first" *ngIf="loginError">
        <mat-error>Incorrect username or password</mat-error>
      </div>
      <div class="oi-line-row first overflow-hidden oi-medium-spacing">
        <label matTooltip="Contact Info">
          <mat-icon class="material-icons-outlined" color="primary">info</mat-icon>
        </label>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="submit()">Login</button>
      </div>
    </form>
  </div>
</div>
