.login-container {
  background-image: url(/assets/images/login-bg.png);
  background-position: right;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.mat-form-field {
  width: 100%;
}
