<!-- hi
<mat-toolbar class="navbar" color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened color="primary">Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container> -->

<!-- 
<div class="login-container">
  <div class="login-content-container">
    <img src="/assets/images/default-logo.png">

    <form>
      <div class="line-row-first">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="line-row-first">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>
      <div class="line-row">
        <button mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </div>
</div>
 -->

<app-navbar></app-navbar>
<app-main-menu></app-main-menu>
<main>
  <router-outlet></router-outlet>
</main>
