<div class="oi-row">
  <div class="col-12 col-sm-6">
    <h1>
      <span>Admin</span>
    </h1>
  </div>
</div>

<div class="oi-line-row oi-small-spacing">
  <h6>Attributes</h6>
</div>
<div class="oi-line-row oi-small-spacing">
  <div class="oi-box non-bottom-pad">
    <form>
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Attribute</mat-label>
              <mat-select
                (onSelectionChange)="get($event)"
                [(ngModel)]="selectedAttribute"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-option
                  *ngFor="let obj of allAttributes"
                  (click)="get(obj)"
                  [value]="obj"
                >
                  {{ obj }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Selected Attribute</mat-label>
              <mat-select >
                <mat-option
                  *ngFor="let code of selectedAttributeValues"
                  [value]="code"
                >
                  {{ code }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>New Value</mat-label>
              <input
                matInput
                [(ngModel)]="newInputValue"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <button mat-raised-button color="accent" (click)="addNewValue()">
              Add
            </button>
            <!-- <button mat-raised-button color="accent" (click)="editValue()">
              Edit
            </button> -->
            <button mat-raised-button color="warn" (click)="deleteValue()">
              Delete
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div class="oi-line-row">
  <h6>Job History</h6>
</div>
<div class="oi-row tables-columns-container">
	<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
		<div class="oi-line-row oi-small-spacing">
		  <span class="table-title">Table Columns Options</span>
		</div>
		<div class="oi-box">
			<ul class="columns-container">
				<li><label>item 1</label></li>
				<li><label>item 1</label></li>
				<li><label>item 1</label></li>
				<li><label>item 1</label></li>
			</ul>
		</div>
	</div>
	<div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 buttons-container">
  	<button mat-raised-button color="accent">Add</button>
  	<button mat-raised-button color="warn">Remove</button>
	</div>
	<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
		<div class="oi-line-row oi-small-spacing">
		  <span class="table-title">Table Columns Options</span>
		</div>
		<div class="oi-box">
			<ul class="columns-container">
				<li class="active"><label>item 1</label></li>
				<li><label>item 1</label></li>
				<li><label>item 1</label></li>
				<li><label>item 1</label></li>
			</ul>
		</div>
	</div>
</div> -->
