@import "../../../assets/style/abstracts/functions";
@import "../../../assets/style/abstracts/variables";
@import "../../../assets/style/base/animation";

.mat-raised-button {
  margin-right: 8px;
}

.table-title {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.tables-columns-container {
  align-items: center;

  .oi-box {
    height: 300px;
    overflow-y: auto;
  }

  .buttons-container {
    button {
      width: 100%;
      margin: 8px 0;
    }
  }

  .columns-container {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
      display: block;
      overflow: hidden;
      padding: 2px;
      cursor: pointer;
      @extend .oi-animation;

      &.active {
        background: lighten(palette(doneColor, base), 30%);
      }

      label {
        display: block;
        overflow: hidden;
        padding: 2px;
        line-height: 30px;
        pointer-events: none;
      }
    }
  }
}
