<div *ngIf="loaderDiv" class="loaderDiv">
  <div class="spinner"></div>
  <div id="text">Loading...</div>
</div>
<div class="oi-row">
  <div class="col-12 col-sm-6">
    <h1>
      <span>Job Management</span>
    </h1>
  </div>
</div>
​
<div class="oi-line-row">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    ​
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let property of element.properties">
          <!-- {{ element.country }}           -->
          <span *ngIf="property.key == 'country'">
            {{ property.value }}
          </span>
        </ng-container>
        <!-- {{ element.properties[0].value}} -->
      </td>
    </ng-container>
    ​
    <ng-container matColumnDef="sourcesystem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Source System</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let property of element.properties">
          <!-- {{ element.country }}           -->
          <span *ngIf="property.key == 'sourceSystem'">
            {{ property.value }}
          </span>
        </ng-container>
        <!-- {{ element.properties[1].value}} -->
      </td>
    </ng-container>
    ​
    <ng-container matColumnDef="sourcetable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Source Table</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let property of element.properties">
          <!-- {{ element.country }}           -->
          <span *ngIf="property.key == 'sourceTable'">
            {{ property.value }}
          </span>
        </ng-container>
        <!-- {{ element.properties[2].value}} -->
      </td>
    </ng-container>
    ​
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let property of element.properties">
          <!-- {{ element.country }}           -->
          <span *ngIf="property.key == 'Source'">
            {{ property.value }}
          </span>
        </ng-container>
        <!-- {{ element.properties[3].value}} -->
      </td>
    </ng-container>

    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let property of element.properties">
          <!-- {{ element.country }}           -->
          <span *ngIf="property.key == 'Destination'">
            {{ property.value }}
          </span>
        </ng-container>
        <!-- {{ element.properties[4].value}} -->
      </td>
    </ng-container>

    <ng-container matColumnDef="jobCreatedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Create Date</th>
      <td mat-cell *matCellDef="let element">{{ element.jobCreatedDate }}</td>
    </ng-container>

    <ng-container matColumnDef="jobLastRunDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Run Date</th>
      <td mat-cell *matCellDef="let element">{{ element.jobLastRunDate }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let property of element.properties">
          <!-- {{ element.country }}           -->
          <span *ngIf="property.key == 'scheduleType'">
            {{ property.value }}
          </span>
        </ng-container>
        <!-- {{ element.properties[7].value}} -->
      </td>
    </ng-container>

    <!-- activate Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.active == true; else off">Enabled</span
        ><ng-template #off>Disabled</ng-template>
      </td>
    </ng-container>

    <!-- Enabled/Disabled Toggle Button -->
    <ng-container matColumnDef="toggle">
      <th mat-header-cell *matHeaderCellDef>toggle</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let property of element.properties">
          <mat-slide-toggle
            *ngIf="property.key == 'scheduleType' && property.value != 'ADHOC'"
            [checked]="element.active"
            (change)="updateActiveStatus(element)"
          ></mat-slide-toggle>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <!-- <div class="actions-container" *ngIf="element.action"> -->
        <div class="actions-container">
          <button
            mat-icon-button
            (click)="executeJob(element)"
            matTooltip="Execute Job"
          >
            <mat-icon>play_circle_filled</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="editJob(element)"
            matTooltip="Edit Job"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            (click)="deleteJob(element)"
            matTooltip="Delete Job"
            class="delete"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    ​
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
