// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}

body {
  background: palette(grayColor, extraLight);
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: $text-font-stack;
  // color: palette(blackColor, base);
  outline: none;
}

svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/**
 * Basic styles for links
 */
a {
  color: palette(blackColor, base);
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  
  * {
    pointer-events: none;
  }

  &:not(.btn) {
    color: palette(blackColor, base);
    cursor: pointer;
  }
}

.float-right {
  float: right;
}

.#{$g-nmsp}-container {
  display: inline-block;
  margin: 0 auto;
  width: $max-width;
}

.#{$g-nmsp}-container-fluid {
  display: block;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

main {
  display: block;
  margin: 60px 0 0;
  padding: 16px;

  @media (min-width: map-get($breakpoints, 'medium')) {
    margin-left: $menu-width;
  }
}

.#{$g-nmsp}-line-row {
  display: block;
  margin-top: 32px;

  &.first {
    margin-top: 0;
  }
  &.#{$g-nmsp}-small-spacing {
    margin-top: 8px;
  }
  &.#{$g-nmsp}-medium-spacing {
    margin-top: 16px;
  }
  &.#{$g-nmsp}-botton-medium-spacing {
    margin-bottom: 16px;
  }
  &.overflow-hidden {
    overflow: hidden;
  }
}

.#{$g-nmsp}-box {
  display: block;
  overflow: hidden;
  padding: 16px;
  background: #fff;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid palette(grayColor, light);

  .#{$g-nmsp}-box .#{$g-nmsp}-box {
    box-shadow: none;
  }

  &.top-spacing {
    margin-top: 32px;
  }

  &.bottom-spacing {
    margin-bottom: 32px;
  }

  &.non-bottom-pad {
    padding-bottom: 0;
  }

  &.#{$g-nmsp}-statistic-box {
    padding: 16px;
    text-align: center;
    
    h6 {
      display: block;
      overflow: hidden;
      line-height: 24px;
      font-size: 14px;
    }

    span {
      display: block;
      overflow: hidden;
      line-height: 24px;
      font-size: 18px;
      margin: 8px 0 0;
      color: palette(doneColor, base);
    }
  }
}



&.#{$g-nmsp}-disabled {
  opacity: .4;
}


.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: palette(defaultColor, base);
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1001;

  .login-content-container {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    padding: 16px;
    width: 300px;
    max-width: 90%;

    img {
      display: block;
      margin: 16px auto 32px;
    }

    .mat-button-base {
      float: $right;
    }
  }
}