/**
 * Basic typography style for copy text
 */



@include headings(){
  display: block;
  overflow: hidden;
  color: palette(blackColor, base);
  font-weight: 400;

  span {
    display: inline-block;
    float: $left;
    margin-right: 8px;
  }

  button, a {
    display: inline-block;
    float: $left;
    border: none;
    background: transparent;
    height: 24px;
    width: 24px;
    padding: 0;
    margin-right: 8px;
    margin-left: 8px;

    i svg * {
      fill: palette(successColor, base);
    }
  }
}

h1 {
  font-size: 28px;
  line-height: 36px;

  button, a {
    margin-top: 6px;
  }

  a {
    margin-top: 3px;
  }
}

h2 {
  font-size: 26px;
  line-height: 32px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
}
h5 {
  font-size: 18px;
  line-height: 22px;
}
h6 {
  font-size: 16px;
  line-height: 18px;
}

p {
  font-size: 14px;
  line-height: 18px;

  &.description {
    color: palette(blackColor, light);
    font-size: 12px;
    line-height: 16px;
  }
}

b {
  font-weight: 600;
}