<div class="oi-row">
  <div class="col-12 col-sm-6">
    <h1>
      <span>Edit Job</span>
    </h1>
  </div>
  <div class="col-12 col-sm-6">
    <!-- <button mat-raised-button color="accent" class="float-right" (click)='uploadConfig()' 
    [disabled]="!(dataForm.valid)">Upload Config</button> -->
    <button
      mat-raised-button
      color="accent"
      class="float-right"
      (click)="uploadConfig()"
    >
      Upload Config
    </button>
  </div>
</div>
<div class="oi-line-row oi-small-spacing">
    <div class="oi-box non-bottom-pad schedule-main-container">
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Flow Name</mat-label>
              <input
                class="form-control"
                matInput
                [value]="job['flowName']"
                readonly
              />
            </mat-form-field>
          </div>
          <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Version</mat-label>
              <input
                class="form-control"
                matInput
                [value]="job.version"
                readonly
              />
            </mat-form-field>
          </div> -->
        </div>
      </div>
    </div>
  </div>

<form [formGroup]="dataForm" #form2="ngForm">
  <!-- <div formArrayName="tempTables"> -->
  <!-- General -->
  <div *ngIf="dataForm.get('tempTables').value[0]; let table">
    <div class="oi-line-row">
      <h6>{{ table.tableName }}</h6>
    </div>
    <div class="oi-line-row oi-small-spacing">
      <div class="oi-box non-bottom-pad">
        <form>
          <div class="oi-line-row first">
            <div class="oi-row">
              <div
                class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
                *ngFor="
                  let property of getArray(table.propertiesNumber);
                  let j = index
                "
              >
                <mat-form-field appearance="fill">
                  <mat-label>{{ generalProperties[j] }}</mat-label>
                  <input
                    matInput
                    [value]="table.defaultValue[j]"
                    (change)="defaultValueUpdate(j, i, $event)"
                    readonly
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Schedule -->
  <div *ngIf="scheduled && dataForm.get('tempTables').value[1]; let table">
    <div class="oi-line-row">
      <h6>Schedule</h6>
    </div>
      <div class="oi-line-row oi-small-spacing">
        <form class="oi-box non-bottom-pad schedule-main-container" formGroupName="scheduleForm">
          <div class="oi-line-row first">
            <div class="oi-row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <mat-form-field>
                  <mat-label>Start Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="startDate"
                    (dateChange)="scheduleValueUpdate(2, 1, $event)"
                    readonly
                  />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <mat-form-field>
                  <mat-label>End Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="pickers"
                    formControlName="endDate"
                    (dateChange)="scheduleValueUpdate(3, 1, $event)"
                    [min]="startDate"
                    readonly
                  />
                  <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                  <mat-datepicker #pickers></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="oi-line-row first">
            <cron-editor
              formControlName="cronExpression"
              [options]="cronOptions"
              (change)="scheduleValueUpdate(1, 1, $event)"
            ></cron-editor>
          </div>
        </form>
      </div>
  <!-- </div> -->
  </div>

  <!-- Additional -->
  <div
    *ngFor="
      let table of dataForm.get('tempTables').value
        | slice: 2;
      let i = index
    "
>
    <div class="oi-line-row">
      <h6>{{ table.tableName }}</h6>
    </div>
    <div class="oi-line-row oi-small-spacing">
      <div class="oi-box non-bottom-pad">
        <div *ngIf="table.tableName == 'Schema'; else other_tables">
          <div class="oi-line-row first">
            <div class="oi-row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                Column Name
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                Data Type
              </div>
            </div>
          </div>
          <div
            class="oi-line-row"
            *ngFor="let value of schemaString; let j = index">
            <div class="oi-row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <mat-form-field appearance="fill">
                  <input
                    class="form-control"
                    matInput
                    [value]="value.substring(0, value.indexOf(':'))"
                 readonly />
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <mat-form-field appearance="fill">
                  <input
                    class="form-control"
                    matInput
                    [value]="value.substring(value.indexOf(':') + 1)"
                 readonly />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <ng-template #other_tables>
          <form>
            <div class="oi-line-row first">
              <div class="oi-row">
                <div
                  class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
                  *ngFor="
                    let property of getArray(table.propertiesNumber);
                    let j = index
                  "
                >
                  <!-- <mat-form-field appearance="fill">
                    <mat-label>{{ table.fieldName[j] }}</mat-label>
                    <input
                      matInput
                      [value]="table.defaultValue[j]"
                      (change)="defaultValueUpdate(j, i + 2, $event)"
                      [readonly]="validateReadOnly(table.fieldName[j])"
                    />
                  </mat-form-field> -->
                  <mat-slide-toggle
                    *ngIf="table.defaultValue[j] == 'true' || table.defaultValue[j] == 'false'; else not_boolean"
                    [checked]="table.defaultValue[j]"
                    disabled
                  >
                    <span>{{ table.fieldName[j] }}</span>
                  </mat-slide-toggle>

                  <ng-template #not_boolean>

                  <mat-form-field appearance="fill">
                    <mat-label>{{ table.fieldName[j] }}</mat-label>
                    <input
                      matInput
                      [value]="table.defaultValue[j]"
                      (change)="defaultValueUpdate(j, i + 2, $event)"
                      [readonly]="validateReadOnly(table.fieldName[j])"
                    />
                  </mat-form-field>
                </ng-template>
                </div>
              </div>
            </div>
          </form>
        </ng-template>  
      </div>
    </div>
  </div>
</form>
