<header class="oi-navbar oi-navbar-fixed">
  <div class="oi-container-fluid">
    <button
      class="oi-menu-icon oi-float-left oi-hide-md-up"
      [class.active]="showMainMenu"
      id="btnMainMenu"
      (click)="mainMenu()"
    >
      <em></em>
      <em></em>
      <em></em>
    </button>
    <a class="oi-navbar-brand">
      <img src="/pepperui/assets/images/default-logo.png" alt="Pepper Money" />
    </a>
  </div>

  <div class="oi-navbar-profile">
    <ul class="dropdown-menu">
      <li>
        <i class="material-icons">account_circle</i>
        <span class="a">Hello {{ currentUser }} </span>
      </li>
      <li>
        <button (click)="signOut()">Sign Out</button>
      </li>
    </ul>
  </div>
</header>
