
<div *ngIf="loaderDiv" class="loaderDiv">
<div class="spinner"></div>
<div id="text">Loading...</div>
</div>
<div class="oi-row">
  <div class="col-12 col-sm-6">
    <h1>
      <span>Job Setup</span>
    </h1>
  </div>
  <div class="col-12 col-sm-6">
    <button
      mat-raised-button
      color="accent"
      class="float-right"
      (click)="uploadConfig()"
      [disabled]="
        !(
          form.valid &&
          (schedule ? (cronGroup.valid ? true : false) : true) &&
          (schemaForm.valid || schemaStringValue)
        )
      "
    >
      Upload Config
    </button>
  </div>
</div>
​
<!-- General -->
<div class="oi-line-row oi-small-spacing">
  <h6>General Settings</h6>
</div>
<div class="oi-line-row oi-small-spacing">
  <div class="oi-box non-bottom-pad">
    <form
      (ngSubmit)="loadTemplate()"
      [formGroup]="generalInfoForm"
      #form="ngForm"
    >
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select
                matNativeControl
                formControlName="country"
                [(ngModel)]="countryValue"
                (change)="onCountrySelection()"
              >
                <mat-option disabled>Select</mat-option>
                <mat-option *ngFor="let option of country" [value]="option">{{
                  option
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill" >
              <mat-label>Source System</mat-label>
              <mat-select matNativeControl formControlName="sourceSystem">
                <mat-option disabled>Select</mat-option>
                <mat-option
                  *ngFor="let option of sourceSystem"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Source Table</mat-label>
              <input matInput formControlName="sourceTable"/>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Choose Template</mat-label>
              <mat-select
                [(ngModel)]="selectedTemplate"
                matNativeControl
                formControlName="template"
              >
                <mat-option disabled>Select</mat-option>
                <mat-option
                  *ngFor="let option of templateList"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Lineage Mode</mat-label>
              <mat-select matNativeControl formControlName="lineageMode">
                <mat-option disabled>Select</mat-option>
                <mat-option
                  *ngFor="let option of lineageMode"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <mat-slide-toggle
              (change)="schedule = !schedule"
              [checked]="schedule"
            >
              {{ schedule ? "Scheduled" : "Adhoc" }}
            </mat-slide-toggle>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <button
              class="oi-btn oi-btn-primary"
              type="submit"
              [disabled]="!form.valid"
            >
              Load Template
            </button>
            <!-- <button class="oi-btn oi-btn-primary" type="submit" >Load Template</button> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
​
<!-- Schedule Job -->
<div class="oi-line-row oi-small-spacing" *ngIf="schedule">
  <h6>Schedule</h6>
</div>
<div class="oi-line-row oi-small-spacing" *ngIf="schedule">
  <form
    class="oi-box non-bottom-pad schedule-main-container"
    [formGroup]="cronGroup"
    #cronForms="ngForm"
  >
    <div class="oi-line-row first">
      <div class="oi-row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startDate"
              readonly
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <mat-form-field>
            <mat-label>End Date</mat-label>
            <input
              matInput
              [matDatepicker]="pickers"
              formControlName="endDate"
              [min]="cronGroup.controls.startDate.value"
              readonly
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickers"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickers></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <span>{{ str }}</span>
        </div>
      </div>
    </div>
    <div class="oi-line-row first">
      <cron-editor
        formControlName="cronExpression"
        [options]="cronOptions"
      ></cron-editor>
    </div>
  </form>
</div>
​
<!-- Template Body -->
<div *ngFor="let table of tempTables; let i = index">
  <div
    *ngIf="
      table.tableName == 'SCD Details'
        ? enableSCD == 'true'
          ? true
          : false
        : true
    "
  >
    <div class="oi-line-row">
      <div class="oi-row">
        <div class="col-12">
          <h6>{{ table.tableName }}</h6>
        </div>
      </div>
    </div>
    <div class="oi-line-row oi-small-spacing">
      <div class="oi-box non-bottom-pad">
        <form>
          <div class="oi-line-row first">
            <div class="oi-row">
              <div
                class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
                *ngFor="
                  let property of getArray(table.propertiesNumber);
                  let j = index
                "
              >
                <!-- if field is Text/Number -->
                <mat-form-field
                  appearance="fill"
                  *ngIf="
                    table.dataType[j] == 'Text' || table.dataType[j] == 'Number'
                  "
                  [ngClass]="isSCDField(table.fieldName[j])"
                >
                  <mat-label>{{ table.fieldName[j] }}</mat-label>
                  <input
                    [type]="table.dataType[j]"
                    matInput
                    [value]="table.defaultValue[j]"
                    (change)="defaultValueUpdate(j, i, $event)"
                    [readonly]="
                      table.fieldName[j] == 'Target Path' ||
                      table.fieldName[j] == 'Source Path'
                    "
                  />
                </mat-form-field>
                <!-- if field is DDL -->
                <mat-form-field
                  appearance="fill"
                  *ngIf="table.dataType[j] == 'DropDown List'"
                >
                  <mat-label>{{ table.fieldName[j] }}</mat-label>
                  <mat-select
                    #select
                    matNativeControl
                    (selectionChange)="defaultValueUpdate(j, i, $event, table.fieldName[j])"
                    [value]="table.defaultValue[j][0]"
                  >
                    <mat-option
                      *ngFor="
                        let option of table.defaultValue[j];
                        let z = index
                      "
                      [value]="option"
                      >{{ option }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <!-- if field is Checkbox -->
                <mat-slide-toggle
                  *ngIf="table.dataType[j] == 'CheckBox'"
                  [checked]="table.defaultValue[j]"
                  (change)="
                    table.fieldName[j] == 'Contains IUD Flag' ? 
                      toggleSCDItems(j, i, $event, table.fieldName[j]) : 
                      defaultValueUpdate(j, i, $event, table.fieldName[j])
                  "
                >
                  <span>{{ table.fieldName[j] }}</span>
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Schema Table -->
<div *ngIf="schemaAvailable == 'true'">
  <div class="oi-line-row">
    <div class="oi-row">
      <div class="col-12">
        <h6>Schema</h6>
      </div>
    </div>
  </div>
  <div class="oi-line-row oi-small-spacing">
    <div class="oi-box non-bottom-pad">
      <div class="oi-line-row first">
        <div class="oi-row">
          <div class="col-12">
            <mat-radio-group aria-label="Select an option" (change)="schemaStringOption = !schemaStringOption; schemaStringValue = null">
              <mat-radio-button value="1" [checked]="schemaStringOption">Schema String</mat-radio-button>
              <mat-radio-button value="2" [checked]="!schemaStringOption">Schema Details</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <!-- String Field -->
      <div class="oi-line-row">
        <div class="oi-row">
          <div class="col-12">
            <mat-form-field
              appearance="fill"
              *ngIf="
                schemaStringOption
              ">
              <mat-label>Schema String</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="schemaStringValue"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Details Fields -->
      <div *ngIf="!schemaStringOption">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <mat-form-field
            appearance="fill"
          >
            <mat-label>Number of schema items</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="minimumSchema"
              name="minimumSchema"
              min="1"
              (change)="createSchemaItems($event)"
            />
          </mat-form-field>
        </div>
        <div class="oi-line-row oi-small-spacing" [formGroup]="schemaForm">
          <div class="oi-box non-bottom-pad bottom-spacing" formArrayName="schemaArray">
            <div class="oi-line-row first" >
              <div class="oi-row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                  Column Name
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                  Data Type
                </div>
              </div>
            </div>
            <div
              class="oi-line-row"
              *ngFor="
                let group of schemaForm.get('schemaArray').controls;
                let i = index
              "
            >
              <div class="oi-row" [formGroupName]="i">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                  <mat-form-field appearance="fill">
                    <input
                      matTooltip='info:"date" supports "YYYY-MM-DD" and "timestamp" supports "YYYY-MM-DD HH:MM: SS.fffffffff"'
                      class="form-control"
                      matInput
                      formControlName="columnName"
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                  <mat-form-field appearance="fill">
                    <mat-select matNativeControl (selectionChange)="schemaDataTypeUpdate(i,$event)" [value]="schemaDataTypes[7]">
                      <mat-option *ngFor="let value of schemaDataTypes;" [value]="value">{{value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
