/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* fallback */
// @font-face {
//   font-family: "Material Icons";
//   font-style: normal;
//   font-weight: 400;
//   src: url(/src/assets/style/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
//     format("woff2");
// }

// .material-icons {
//   font-family: "Material Icons";
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;
//   line-height: 1;
//   letter-spacing: normal;
//   text-transform: none;
//   display: inline-block;
//   white-space: nowrap;
//   word-wrap: normal;
//   direction: ltr;
//   -moz-font-feature-settings: "liga";
//   -moz-osx-font-smoothing: grayscale;
// }
// @import "~@angular/material/theming";
// @import "assets/style/abstracts/_functions";
// @import "assets/style/abstracts/_variables";

// @include mat-core();

// $mat-black: (
//   50: #fafafa,
//   100: #f5f5f5,
//   200: #eeeeee,
//   300: #e0e0e0,
//   400: #bdbdbd,
//   500: #000,
//   600: #757575,
//   700: #616161,
//   800: #424242,
//   900: #212121,
//   A100: #ffffff,
//   A200: #eeeeee,
//   A400: #bdbdbd,
//   A700: #616161,
//   contrast: (
//     50: $dark-primary-text,
//     100: $dark-primary-text,
//     200: $dark-primary-text,
//     300: $dark-primary-text,
//     400: $dark-primary-text,
//     500: $light-primary-text,
//     600: $light-primary-text,
//     700: $light-primary-text,
//     800: $light-primary-text,
//     900: $light-primary-text,
//     A100: $dark-primary-text,
//     A200: $dark-primary-text,
//     A400: $dark-primary-text,
//     A700: $light-primary-text
//   )
// );

// $mat-green-custom: (
//   50: #e8f5e9,
//   100: #c8e6c9,
//   200: #a5d6a7,
//   300: #81c784,
//   400: #66bb6a,
//   500: #006845,
//   600: #43a047,
//   700: #388e3c,
//   800: #2e7d32,
//   900: #1b5e20,
//   A100: #b9f6ca,
//   A200: #69f0ae,
//   A400: #00e676,
//   A700: #00c853,
//   contrast: (
//     50: $dark-primary-text,
//     100: $dark-primary-text,
//     200: $dark-primary-text,
//     300: $dark-primary-text,
//     400: $dark-primary-text,
//     500: $light-primary-text,
//     600: $light-primary-text,
//     700: $light-primary-text,
//     800: $light-primary-text,
//     900: $light-primary-text,
//     A100: $dark-primary-text,
//     A200: $dark-primary-text,
//     A400: $dark-primary-text,
//     A700: $dark-primary-text
//   )
// );

// $candy-app-primary: mat-palette($mat-black);
// $candy-app-accent: mat-palette($mat-green-custom);

// $candy-app-warn: mat-palette($mat-red);

// $candy-app-theme: mat-light-theme(
//   $candy-app-primary,
//   $candy-app-accent,
//   $candy-app-warn
// );

// $mat-button-border-radius: 0px !default;

// @include angular-material-theme($candy-app-theme);

// .mat-form-field-appearance-fill .mat-form-field-flex {
//   background: transparent;
//   padding: 0 !important;
// }

// .mat-form-field-appearance-fill .mat-form-field-infix {
//   padding: 0.25em 0 0.35em 0 !important;

//   input {
//     color: palette(blackColor, base) !important;
//   }
// }
// .mat-raised-button {
//   font-size: 14px !important;
//   border-radius: 0 !important;

//   + .mat-raised-button {
//     margin-right: 8px;
//   }
// }

// .mat-select-panel {
//   border-radius: 0 !important;
// }

// .mat-form-field {
//   display: block;
//   width: 100%;
// }
// .mat-form-field-label.ng-star-inserted {
//   color: palette(blackColor, light) !important;
//   font-size: 14px;
// }
// .mat-select-value .ng-star-inserted,
// .mat-slide-toggle-content {
//   color: palette(blackColor, base) !important;
//   font-size: 14px;
// }

// .mat-slide-toggle {
//   margin: 9px 0;
// }

// .mat-form-field-appearance-fill .mat-form-field-underline::before {
//   background-color: palette(grayColor, light) !important;
// }

// .mat-slide-toggle-bar {
//   background-color: palette(dangerColor, base) !important;
// }
// .mat-checked .mat-slide-toggle-bar {
//   background-color: palette(successColor, base) !important;
// }

// table {
//   width: 100%;

//   .mat-sort-header-button {
//     color: white !important;
//   }
//   .mat-sort-header-stem {
//     color: white !important;
//   }
//   .mat-sort-header-arrow {
//     color: white !important;
//   }
//   .mat-sort-header {
//     color: white !important;
//   }

//   td,
//   th {
//     vertical-align: middle;
//     font-size: 14px;

//     .actions-container {
//       display: block;
//       margin: 0 auto;
//       float: $right;

//       button {
//         color: palette(grayColor, light) !important;

//         &:hover {
//           color: palette(doneColor, base) !important;
//         }

//         &.delete:hover {
//           color: palette(dangerColor, base) !important;
//         }
//       }
//     }
//   }

//   thead:not(.mat-calendar-table-header) {
//     background-color: palette(defaultColor, base) !important;

//     .mat-header-cell {
//       color: palette(defaultColor, textColor) !important;
//     }
//   }
// }

// .cdk-overlay-container,
// .cdk-global-overlay-wrapper {
//   z-index: 1002 !important;
// }

// .mat-elevation-z8 {
//   box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1) !important;
// }

// .mat-form-field-subscript-wrapper {
//   padding: 0 !important;
// }

// .mat-form-field-subscript-wrapper {
//   margin-top: 1px;
// }

// .mat-checkbox {
//   font-size: 14px;
// }

// // New CSS

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/style/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

@import "~@angular/material/theming";
@import "assets/style/abstracts/_functions";
@import "assets/style/abstracts/_variables";

@include mat-core();

$mat-black: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #000,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);

$mat-green-custom: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #006845,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);

$candy-app-primary: mat-palette($mat-black);
$candy-app-accent: mat-palette($mat-green-custom);

$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

$mat-button-border-radius: 0px !default;

@include angular-material-theme($candy-app-theme);

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: transparent;
  padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.35em 0 !important;

  input {
    color: palette(blackColor, base) !important;
  }
}
.mat-raised-button {
  font-size: 14px !important;
  border-radius: 0 !important;

  + .mat-raised-button {
    margin-right: 8px;
  }
}

.mat-select-panel {
  border-radius: 0 !important;
}

div[class^="col-"] > .mat-form-field {
  display: block;
  width: 100%;
}
.mat-form-field-label.ng-star-inserted {
  color: palette(blackColor, light) !important;
  font-size: 14px;
}
.mat-select-value .ng-star-inserted,
.mat-slide-toggle-content {
  color: palette(blackColor, base) !important;
  font-size: 14px;
}

.mat-slide-toggle {
  margin: 9px 0;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: palette(grayColor, light) !important;
}

.mat-slide-toggle-bar {
  background-color: palette(dangerColor, base) !important;
}
.mat-checked .mat-slide-toggle-bar {
  background-color: palette(successColor, base) !important;
}

table {
  width: 100%;

  .mat-sort-header-button {
    color: white !important;
  }
  .mat-sort-header-stem {
    color: white !important;
  }
  .mat-sort-header-arrow {
    color: white !important;
  }
  .mat-sort-header {
    color: white !important;
  }

  td,
  th {
    vertical-align: middle;
    font-size: 14px;

    .actions-container {
      display: block;
      margin: 0 auto;
      float: $right;

      button {
        color: palette(grayColor, light) !important;

        &:hover {
          color: palette(doneColor, base) !important;
        }

        &.delete:hover {
          color: palette(dangerColor, base) !important;
        }
      }
    }
  }

  thead:not(.mat-calendar-table-header) {
    background-color: palette(defaultColor, base) !important;

    .mat-header-cell {
      color: palette(defaultColor, textColor) !important;
    }
  }
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  z-index: 1002 !important;
}

.mat-elevation-z8 {
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1) !important;
}

.mat-form-field-subscript-wrapper {
  padding: 0 !important;
}

.mat-form-field-subscript-wrapper {
  margin-top: 1px;
}

.mat-checkbox {
  font-size: 14px;
}

.schedule-main-container {
  .cron-editor-tab-content {
    height: auto !important;
  }

  .mat-form-field {
    & + .ng-star-inserted {
      margin: 0 4px;
    }

    & + .mat-form-field {
      margin-left: 5px;
    }
  }

  .mat-radio-container {
    transform: translateY(-6px);
  }

  .cron-form-label:first-child + .ng-untouched {
    margin: 10px 0 1.34375em;
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-outline-end {
      border-radius: 0;
      border-top: 0;
      border-right: 0;
    }

    .mat-form-field-outline-start {
      border-radius: 0;
      border-top: 0;
      border-left: 0;
    }
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.25em 0 0.35em 0 !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0;
    margin: 0 8px;
  }
}

input[readonly="true"]{  
  opacity: .7;
}

