.#{$g-nmsp}-main-menu {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 60px;
  left: -300px;
  bottom: 0;
  background: palette(defaultColor, base);
  width: $menu-width;
  z-index: 998;
  @extend .oi-animation;

  &.open {
    left: 0px;
  }

  @media (min-width: map-get($breakpoints, 'medium')) {
    top: 60px;
    left: 0;
    bottom: 0;
  }

  .#{$g-nmsp}-main-nav {
    display: block;
    overflow: hidden;

    li {
      display: block;
      overflow: hidden;
      min-height: 36px;



      a, > button {
        display: block;
        overflow: hidden;
        padding: 8px;
        background: transparent;
        border: none;
        width: 100%;
        text-align: $left;
        @extend .oi-animation;

        &.#{$g-nmsp}-project {
          padding: 8px 72px 8px 8px;
        }

        &.#{$g-nmsp}-expandable {
          padding: 8px 36px 8px 8px;
        }

        i {
          display: inline-block;
          overflow: hidden;
          float: $left;
          width: 26px;
          height: 26px;
          margin: 0 8px 0 0;

          svg * {
            fill: palette(defaultColor, textColor);
            @extend .oi-animation;
          }
        }

        span {
          display: inline-block;
          overflow: hidden;
          color: palette(defaultColor, textColor);
          line-height: 26px;
          font-size: 14px;
          font-weight: 300;
          width: calc(100% - 35px);
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        @include on-event {
          background: palette(defaultColor, light);
          text-decoration: none;
        }

        &.active {
          background: palette(defaultColor, light);
        }
      }

      > button{
        i {
          width: 19px;
          height: 19px;
          margin: 4px 10px 0 4px;
        }
      }

      &.#{$g-nmsp}-submenu {
        position: relative;

        &:hover {
          .#{$g-nmsp}-edit {
            opacity: 1;
          }
        }

        .#{$g-nmsp}-edit {
          display: inline-block;
          overflow: hidden;
          width: 36px;
          height: 44px;
          padding: 8px;
          border: 0;
          background: transparent;
          position: absolute;
          top: 0;
          right: 36px;
          outline: none;
          opacity: 0;
          @extend .oi-animation;

          i {
            display: inline-block;
            overflow: hidden;
            width: 20px;
            height: 20px;
            @extend .oi-animation;

            svg * {
              fill: palette(defaultColor, textColor);
              @extend .oi-animation;
            }
          }
        }

        .#{$g-nmsp}-expand {
          display: inline-block;
          overflow: hidden;
          width: 36px;
          height: 44px;
          padding: 8px;
          border: 0;
          background: transparent;
          position: absolute;
          top: 0;
          right: 0;
          outline: none;

          i {
            display: inline-block;
            overflow: hidden;
            width: 20px;
            height: 20px;
            @extend .oi-animation;

            svg * {
              fill: palette(defaultColor, textColor);
              @extend .oi-animation;
            }
          }

          &.open {

            + .#{$g-nmsp}-nav-submenu {
              max-height: 400px;
            }

            i {
              transform: rotate(180deg);
            }
          }
        }

        .#{$g-nmsp}-nav-submenu {
          display: block;
          overflow: hidden;
          max-height: 0;
          @extend .oi-animation;

          li {
            display: block;
            overflow: hidden;
            min-height: 36px;

            a {
              display: block;
              overflow: hidden;
              padding: 8px 8px 8px 42px;
              color: palette(defaultColor, textColor);
              font-size: 14px;
              font-weight: 300;
              @extend .oi-animation;



              &.#{$g-nmsp}-expandable {
                padding-right: 36px;
              }

              @include on-event {
                background: palette(defaultColor, light);
              }

              &.active {
                background: palette(defaultColor, light);
              }
            }



            .#{$g-nmsp}-nav-submenu {

              li {

                a {
                  padding: 8px 8px 8px 80px;
                  line-height: 26px;
                }

              }

            }

          }

        }

      }
    }
  }

}