.#{$g-nmsp}-navbar {
  display: block;
  width: 100%;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.2);
  height: 60px;
  box-sizing: border-box;
  padding: 10px 0;

  &.#{$g-nmsp}-navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .#{$g-nmsp}-menu-icon {
    display: inline-block;
    border: 0;
    background: transparent;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 5px 0;
    outline: none;

    em {
      display: block;
      width: 30px;
      height: 3px;
      background: palette(defaultColor, base);
      margin: 3px 0 0;
      position: absolute;
      @extend .#{$g-nmsp}-animation;
    }

    em:nth-child(1) {
      top: 0px;
    }

    em:nth-child(2) {
      top: 11px;
    }

    em:nth-child(3) {
      top: 21px;
    }

    &.active {
      em:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      em:nth-child(2) {
        opacity: 0;
        margin-left: 30px;
      }

      em:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }

  .#{$g-nmsp}-navbar-brand {
    display: inline-block;
    overflow: hidden;
    float: $left;
    height: 40px;

    img {
      max-height: 40px;
      border: 0;
    }
  }

  .#{$g-nmsp}-nav {
    display: block;
    float: right;

    >li {
      display: inline-block;
      float: left;
      position: relative;
      padding: 0 8px;

      .#{$g-nmsp}-avatar {
        display: block;
        overflow: hidden;
        width: 40px;
        height: 40px;
        border: 1px solid #d6d6d6;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        padding: 0;

        *{
          pointer-events: none;
        }

        &.#{$g-nmsp}-default {
          border: none;

          i {
            display: block;
            width: 32px;
            margin: 4px;

            svg {

              *{
                fill: palette(defaultColor, light);
              }
            }
          }
        }

        + .#{$g-nmsp}-user-nav {
          display: block;
          overflow: hidden;
          position: absolute;
          right: 0;
          top: 50px;
          min-width: 220px;
          background: #fff;
          border: 1px solid #d6d6d6;
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);

          li {

            &:first-child {
              border-bottom: 1px solid #d6d6d6;
            }

            .#{$g-nmsp}-avatar-container {
              display: block;
              overflow: hidden;
              margin: 0 auto;
              line-height: 46px;
              padding: 8px;
              white-space: normal;
              word-break: normal;
              width: -webkit-max-content;
              width: -moz-max-content;
              width: max-content;
              height: 100%;
              max-width: 95%;

              .#{$g-nmsp}-avatar {
                float: left;
                margin: 0 8px 0 0;



                &.#{$g-nmsp}-default {
                  border: none;

                  i {
                    display: block;
                    width: 32px;
                    margin: 4px;

                    svg {

                      *{
                        fill: palette(defaultColor, light);
                      }
                    }
                  }
                }
              }

              span {
                display: inline-block;
                overflow: hidden;
                float: left;
                white-space: nowrap;
                font-weight: bold;
                padding: 0;
                line-height: 42px;
                font-size: 14px;
                font-weight: 500;
                max-width: calc(100% - 48px);
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            a, button {
              display: block;
              width: 100%;
              padding: 10px 16px;
              border: 0;
              background: transparent;
              line-height: 20px;
              font-size: 14px;
              font-weight: 400;
              text-align: $left;
              outline: none;

              i {
                display: inline-block;
                overflow: hidden;
                float: $left;
                width: 20px;
                height: 20px;
                margin: 0 8px 0 0;

                svg * {
                  @extend .#{$g-nmsp}-animation;
                }
              }

              @include on-event {
                background: palette(defaultColor, base);
                color: palette(defaultColor, textColor);
                text-decoration: none;

                i svg {
                  *{
                    fill: palette(defaultColor, textColor);
                  } 
                }
              }
            }
          }
        }
      }

      .#{$g-nmsp}-icon {
        display: block;
        width: 30px;
        height: 30px;
        background: transparent;
        padding: 2px 0;
        border: 0;
        outline: none;
        margin: 5px 0;

        img {
          display: inline-block;
          width: 30px;
        }

        + .#{$g-nmsp}-notification-nav {
          display: block;
          overflow: hidden;
          position: absolute;
          right: 0;
          top: 50px;
          width: 250px;
          background: #fff;
          border: 1px solid #d6d6d6;
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);

          li {
            display: block;
            overflow: hidden;
            border-bottom: 1px solid #d6d6d6;

            a {
              display: flex;
              overflow: hidden;
              padding: 8px;
              align-items: center;
              justify-content: center;

              i {
                display: inline-block;
                overflow: hidden;
                margin: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 8px;
              }

              span {
                display: inline-block;
                overflow: hidden;
                font-size: 14px;
                padding: 0 0 0 16px;
                width: 100%;
                line-height: 20px;
              }

              &.danger {
                

                i {
                  background: palette(dangerColor, base);

                  svg * {
                    fill: palette(dangerColor, textColor);
                  }
                }
              }

              &.warning {
                

                i {
                  background: palette(warningColor, base);

                  svg * {
                    fill: palette(warningColor, textColor);
                  }
                }
              }

              &.success {
                

                i {
                  background: palette(successColor, base);

                  svg * {
                    fill: palette(successColor, textColor);
                  }
                }
              }

              &.done {
                

                i {
                  background: palette(doneColor, base);

                  svg * {
                    fill: palette(doneColor, textColor);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .#{$g-nmsp}-navbar-profile {
    display: inline-block;
    float: $right;

    ul {
      display: block;
      margin: 7px 0 0;
      padding: 0;

      li {
        display: inline-block;
        float: $left;

        i {
          display: inline-block;
          float: $left;
          font-size: 30px;
        }

        span {
          display: inline-block;
          float: $left;
          font-size: 14px;
          line-height: 30px;
          color: palette(defaultColor, base);
          padding: 0 8px;
          position: relative;

          &:after {
            content: '|';
            position: absolute;
            font-size: 14px;
            line-height: 30px;
            color: palette(defaultColor, base);
            top: 0;
            right: 0;
          }
        }

        button {
          display: inline-block;
          float: $left;
          font-size: 14px;
          line-height: 30px;
          color: palette(defaultColor, base);
          padding: 0 8px;
          position: relative;
          background: transparent;
          border: none;

        }
      }
    }


  }

}